In [1]:
#packages_installation
#install.packages("readxl")

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [3]:
#opening packages
library(readxl)
#library(tidyverse)

In [4]:
#loading pokemon dataset and changing the price values to numbers
pokemon <- read_excel("scraping/fctions/card_prices_data.xlsx")
pokemon$Price <- as.numeric(gsub("[^0-9.]", "", pokemon$Price))
pokemon$Grade <- as.numeric(pokemon$Grade)

In [5]:
#checking head
head(pokemon)

  Date       Grade Price Sale Type set_name                  card_name
1 2023-10-30  9    12.50 Auction   2021 Pokemon Celebrations HO-Oh
2 2023-10-30  8     8.50 Auction   2021 Pokemon Celebrations HO-Oh
3 2023-10-27  9     7.00 Auction   2021 Pokemon Celebrations HO-Oh
4 2023-10-18  9     9.70 Auction   2021 Pokemon Celebrations HO-Oh
5 2023-10-06 10    29.13 Auction   2021 Pokemon Celebrations HO-Oh
6 2023-09-22  8     9.99 Auction   2021 Pokemon Celebrations HO-Oh

In [6]:
#splits the dataset based on the name of the pokemon cards
pokemon_data_list <- split(pokemon, pokemon$card_name)

In [7]:
#list all pokemon card names
all_card_names <- unique(pokemon$card_name)
length(all_card_names)

[1] 6868

In [8]:
#accesing the specified card name from dartaset
name <- "Mew"
if (name %in% all_card_names) {
  # Access the dataset for the target card name
  first_data <- pokemon_data_list[[name]]
  cat("Data for", name, ":\n")
  print(first_data)
} else {
  cat("Dataset not found for", name, "\n")
}

Data for Mew :
# A tibble: 137 x 6
   Date       Grade Price `Sale Type` set_name                  card_name
   <chr>      <dbl> <dbl> <chr>       <chr>                     <chr>
 1 2023-10-26    10 40    Auction     2021 Pokemon Celebrations Mew
 2 2023-10-15     9 12.0  Auction     2021 Pokemon Celebrations Mew
 3 2023-10-09     8  3.25 Auction     2021 Pokemon Celebrations Mew
 4 2023-10-04     9  9.99 Auction     2021 Pokemon Celebrations Mew
 5 2023-09-23     9  3    Auction     2021 Pokemon Celebrations Mew
 6 2023-09-21     9 17.2  Auction     2021 Pokemon Celebrations Mew
 7 2023-09-04     8  3.25 Auction     2021 Pokemon Celebrations Mew
 8 2023-09-04     8  6.5  Auction     2021 Pokemon Celebrations Mew
 9 2023-09-01     9 15.5  Auction     2021 Pokemon Celebrations Mew
10 2023-08-21     9 11.5  Auction     2021 Pokemon Celebrations Mew
# ... with 127 more rows

In [9]:
#accing more specified number of card names, not used so far
how_many<- 0
for (target_card_names in all_card_names[0:how_many]) {
  # Check if the target card name exists in the list
  if (target_card_names %in% all_card_names) {
    # Access the dataset for the target card name
    target_card_data <- pokemon_data_list[[target_card_names]]
    cat("Data for", target_card_names, ":\n")
    print(target_card_data)
    cat("\n")
  } else {
    cat("Dataset not found for", target_card_names, "\n")
  }
}

In [11]:
#creates list of unique sets that the secifed target card has, splits the cards data
#according to different sets

target_card_name = 'Mew'
set_split <- unique(pokemon_data_list[[name]]$set_name)
specified_set_list <- split(pokemon_data_list[[target_card_name]], pokemon_data_list[[target_card_name]]$set_name)

In [12]:

for (target_card_set in set_split) {
  # Check if the target card name exists in the list
  if (target_card_set %in% set_split) {
    # Access the dataset for the target card name
    target_card_data <- specified_set_list[[target_card_set]]
    cat("Data for", target_card_set, ":\n")
    print(target_card_data[1:4])
  } else {
    cat("Dataset not found for", target_card_name1, "\n")
  }
}

Data for 2021 Pokemon Celebrations :
# A tibble: 56 x 4
   Date       Grade Price `Sale Type`
   <chr>      <dbl> <dbl> <chr>
 1 2023-10-26    10 40    Auction
 2 2023-10-15     9 12.0  Auction
 3 2023-10-09     8  3.25 Auction
 4 2023-10-04     9  9.99 Auction
 5 2023-09-23     9  3    Auction
 6 2023-09-21     9 17.2  Auction
 7 2023-09-04     8  3.25 Auction
 8 2023-09-04     8  6.5  Auction
 9 2023-09-01     9 15.5  Auction
10 2023-08-21     9 11.5  Auction
# ... with 46 more rows
Data for 2002 Expedition Base Set :
# A tibble: 51 x 4
   Date       Grade Price `Sale Type`
   <chr>      <dbl> <dbl> <chr>
 1 2023-10-30    10  74   Auction
 2 2023-10-08     9  35.3 Auction
 3 2023-09-11    10  70   Auction
 4 2023-09-04    10  82   Auction
 5 2023-08-02     8  40   Auction
 6 2023-06-27     9  41   Auction
 7 2023-05-20    10  89.2 Auction
 8 2023-05-01     8  32   Auction
 9 2023-04-30     9  30.4 Auction
10 2023-04-02    10 120.  Auction
# ... with 41 more rows
Data for 2019 Hidden Fates :
# A tibble: 30 x 4
   Date       Grade Price `Sale Type`
   <chr>      <dbl> <dbl> <chr>
 1 2023-07-16     9  9.99 Auction
 2 2023-06-25     9 12.7  Auction
 3 2023-05-21     9 14.3  Auction
 4 2023-03-20    10 22.5  Auction
 5 2023-03-17     9  6.01 Auction
 6 2023-02-26     9 28.6  Auction
 7 2022-10-28    10 41    Auction
 8 2022-10-26    10 14.5  Auction
 9 2022-09-23     9  8    Auction
10 2022-09-08     9  9.5  Auction
# ... with 20 more rows

In [13]:
#great for grouping the needed data
selected_card_names <- unique(pokemon$card_name)[1:2]
pokemon_split_by_card <- split(pokemon, pokemon$card_name)

# Loop through each card_name subset
for (card_name in selected_card_names) {
  # Split each card_name subset by 'set'
  card_name_subset <- pokemon_split_by_card[[card_name]]
  pokemon_split_by_set <- split(card_name_subset, card_name_subset$set_name)

  # Print or process each set subset
  for (set_name1 in names(pokemon_split_by_set)) {
    set_subset <- pokemon_split_by_set[[set_name1]]
    set_subset <- set_subset[ , 1:4]
    
    
    summary_stats <- c(
      mean = mean(set_subset$Price),
      median = median(set_subset$Price),
      min = min(set_subset$Price),
      max = max(set_subset$Price),
      range = max(set_subset$Price) - min(set_subset$Price),
      IQR = IQR(set_subset$Price))
      n =length(set_subset$Price)
    # Your processing code for each 'card_name' and 'set'
    cat("Data for card_name:", card_name, "and set:", set_name1, ":\n")
    cat("\n")
    print(set_subset[1:50, ])  # Print first 4 rows as an example
    cat("\nSummary Statistics:\n")
    print(summary_stats)
    cat("\nNumber of observations:")
    print(n)
    cat("\n")
    cat("\n")
    cat("\n")
  }
}

Data for card_name: HO-Oh and set: 2001 Neo Revelation :

# A tibble: 50 x 4
   Date       Grade Price `Sale Type`
   <chr>      <dbl> <dbl> <chr>
 1 2023-10-08     8 14.5  Auction
 2 2023-09-14     8  9.5  Auction
 3 2023-09-14     9 25.5  Auction
 4 2023-06-29     8 23.5  Auction
 5 2023-04-29     6 20.0  Auction
 6 2023-04-02     9 25    Auction
 7 2023-03-07     6  9.99 Auction
 8 2023-03-06     9 33    Auction
 9 2023-03-04     6 25.0  Auction
10 2023-01-23     9 45.9  Auction
# ... with 40 more rows

Summary Statistics:
     mean    median       min       max     range       IQR
 34.17486  25.50000   8.27000 190.00000 181.73000  14.96000

Number of observations:[1] 37



Data for card_name: HO-Oh and set: 2005 EX Unseen Forces :

# A tibble: 50 x 4
   Date       Grade Price `Sale Type`
   <chr>      <dbl> <dbl> <chr>
 1 2023-09-09    10  45.6 Auction
 2 2023-07-06    10  31.0 Auction
 3 2023-06-30    10  50   Auction
 4 2023-04-23     8  38.4 Auction
 5 2023-03-20    10  26   Auction
 6 2023-03-20    10  53   Auction
 7 2023-03-19     9  30   Auction
 8 2023-03-13    10  30   Auction
 9 2023-03-09     7  18.2 Auction
10 2023-02-20    10  45   Auction
# ... with 40 more rows

Summary Statistics:
     mean    median       min       max     range       IQR
 47.05593  45.00000   6.99000 185.00000 178.01000  24.00000

Number of observations:[1] 27



Data for card_name: HO-Oh and set: 2018 Lost Thunder :

# A tibble: 50 x 4
   Date       Grade Price `Sale Type`
   <chr>      <dbl> <dbl> <chr>
 1 2020-04-26     9   8.5 Best Offer
 2 <NA>          NA  NA   <NA>
 3 <NA>          NA  NA   <NA>
 4 <NA>          NA  NA   <NA>
 5 <NA>          NA  NA   <NA>
 6 <NA>          NA  NA   <NA>
 7 <NA>          NA  NA   <NA>
 8 <NA>          NA  NA   <NA>
 9 <NA>          NA  NA   <NA>
10 <NA>          NA  NA   <NA>
# ... with 40 more rows

Summary Statistics:
  mean median    min    max  range    IQR
   8.5    8.5    8.5    8.5    0.0    0.0

Number of observations:[1] 1



Data for card_name: HO-Oh and set: 2021 Pokemon Celebrations :

# A tibble: 50 x 4
   Date       Grade Price `Sale Type`
   <chr>      <dbl> <dbl> <chr>
 1 2023-10-30     9 12.5  Auction
 2 2023-10-30     8  8.5  Auction
 3 2023-10-27     9  7    Auction
 4 2023-10-18     9  9.7  Auction
 5 2023-10-06    10 29.1  Auction
 6 2023-09-22     8  9.99 Auction
 7 2023-09-21     9  9.91 Auction
 8 2023-08-22     9  8    Auction
 9 2023-08-18     9  8.5  Auction
10 2023-08-17     9  4.25 Auction
# ... with 40 more rows

Summary Statistics:
   mean  median     min     max   range     IQR
 46.312  12.500   0.990 305.000 304.010  53.250

Number of observations:[1] 25



Data for card_name: Zekrom and set: 2021 Pokemon Celebrations :

# A tibble: 50 x 4
   Date       Grade Price `Sale Type`
   <chr>      <dbl> <dbl> <chr>
 1 2023-10-18     9  9.73 Auction
 2 2023-10-13     9  5.5  Auction
 3 2023-09-21     9  9.82 Auction
 4 2023-09-05     9  1.25 Auction
 5 2023-08-17     9  1.8  Auction
 6 2023-08-06    10 18    Auction
 7 2023-07-08    10 51    Auction
 8 2023-05-20     9 13.5  Auction
 9 2023-04-19     9 12.0  Auction
10 2023-03-25     9  7.5  Auction
# ... with 40 more rows

Summary Statistics:
     mean    median       min       max     range       IQR
 17.84116   6.00000   0.99000 202.50000 201.51000   6.71000

Number of observations:[1] 43

In [14]:
#install.packages("lubridate", type = 'binary')
#library(tidyverse)
library(lubridate)

#great for grouping the needed data
selected_card_names <- unique(pokemon$card_name)
pokemon_split_by_card <- split(pokemon, pokemon$card_name)
counter <-0
how_much_per_year <-200
# Loop through each card_name subset
for (card_name in selected_card_names) {
  # Split each card_name subset by 'set'
  card_name_subset <- pokemon_split_by_card[[card_name]]
  pokemon_split_by_set <- split(card_name_subset, card_name_subset$set_name)

  # Print or process each set subset
  for (set_name1 in names(pokemon_split_by_set)) {
    set_subset <- pokemon_split_by_set[[set_name1]]
    set_subset$Date <- as.Date(set_subset$Date)    
    if (length(set_subset$set_name) / length(unique(year(set_subset$Date))) >= how_much_per_year) {
      set_subset <- set_subset[, 1:4]

      summary_stats <- c(
        mean = mean(set_subset$Price),
        median = median(set_subset$Price),
        min = min(set_subset$Price),
        max = max(set_subset$Price),
        range = max(set_subset$Price) - min(set_subset$Price),
        IQR = IQR(set_subset$Price),
        n = length(set_subset$Price)
      )
      counter <- counter +1
      # Your processing code for each 'card_name' and 'set'
      cat("Data for card_name:", card_name, "and set:", set_name1, ":\n")
      print(set_subset)
      cat("Summary Stats:", summary_stats, "\n\n")
    }
  }
}
counter

Data for card_name: Venusaur   Holo and set: 1999 Base Set :
# A tibble: 1,696 x 4
   Date       Grade Price `Sale Type`
   <date>     <dbl> <dbl> <chr>
 1 2023-03-20     9 260   Auction
 2 2023-03-20     9 220.  Auction
 3 2023-03-19     3  51   Auction
 4 2023-03-19     5  62.5 Auction
 5 2023-03-19     8 188.  Auction
 6 2023-03-19     6  81   Auction
 7 2023-03-19     8 118.  Auction
 8 2023-03-18     9 231.  Auction
 9 2023-03-14     7  80   Auction
10 2023-03-14     9 255   Auction
# ... with 1,686 more rows
Summary Stats: 306.4572 157.515 4 6600 6596 252.2875 1696

Data for card_name: Charizard Reverse Foil and set: 2016 Evolutions :
# A tibble: 1,456 x 4
   Date       Grade Price `Sale Type`
   <date>     <dbl> <dbl> <chr>
 1 2022-12-14     9  70   Auction
 2 2022-11-19    10 325   Auction
 3 2022-11-16     9 164   Auction
 4 2022-11-08     8  55.0 Auction
 5 2022-11-07    10 270   Auction
 6 2022-11-03     9  83.3 Auction
 7 2022-11-03     8  48.9 Auction
 8 2022-11-02     9  86   Auction
 9 2022-11-01     9  74.0 Auction
10 2022-11-01     9  61   Auction
# ... with 1,446 more rows
Summary Stats: 182.2913 102.5 1.99 3600 3598.01 149.625 1456

Data for card_name: Charizard   Holo and set: 1999 Base Set :
# A tibble: 3,766 x 4
   Date       Grade Price `Sale Type`
   <date>     <dbl> <dbl> <chr>
 1 2023-03-19     8  455  Auction
 2 2023-03-19     1  124. Auction
 3 2023-03-19     4  146. Auction
 4 2023-03-19     9 1025  Auction
 5 2023-03-19     5  172. Auction
 6 2023-03-19     8  445  Auction
 7 2023-03-19     6  510  Auction
 8 2023-03-18     8  454  Auction
 9 2023-03-18     9 1141. Auction
10 2023-03-18     8  500  Auction
# ... with 3,756 more rows
Summary Stats: 686.5845 256.5 13.99 30800 30786.01 640 3766

Data for card_name: Charizard   Holo and set: 2016 Evolutions :
# A tibble: 1,869 x 4
   Date       Grade Price `Sale Type`
   <date>     <dbl> <dbl> <chr>
 1 2023-03-16     8  80   Auction
 2 2023-03-15     9  93   Auction
 3 2023-03-15     9  83.5 Auction
 4 2023-03-15     7  40.0 Auction
 5 2023-03-15     9  88   Auction
 6 2023-03-12     8 149.  Auction
 7 2023-03-12     9 153.  Auction
 8 2023-03-11     8  56   Auction
 9 2023-03-11     8  51   Auction
10 2023-03-11     8  56   Auction
# ... with 1,859 more rows
Summary Stats: 228.0408 117.5 3.25 7500 7496.75 227.28 1869

Data for card_name: Blastoise   Holo and set: 1999 Base Set :
# A tibble: 2,049 x 4
   Date       Grade Price `Sale Type`
   <date>     <dbl> <dbl> <chr>
 1 2023-04-20     7 105   Auction
 2 2023-04-20     7  84   Auction
 3 2023-04-20     6  71   Auction
 4 2023-04-20     7 150.  Auction
 5 2023-04-19     6  66.9 Auction
 6 2023-04-19     4  29   Auction
 7 2023-04-18     8 173   Auction
 8 2023-04-10     5  56   Auction
 9 2023-04-07     9 320   Auction
10 2023-04-05     8 185   Auction
# ... with 2,039 more rows
Summary Stats: 330.8189 155.5 5.5 8500 8494.5 296 2049

Data for card_name: Machamp 1st Edition  Holo and set: 1999 Base Set :
# A tibble: 2,043 x 4
   Date       Grade Price `Sale Type`
   <date>     <dbl> <dbl> <chr>
 1 2023-04-20     7  44.4 Auction
 2 2023-04-18     9 158.  Auction
 3 2023-04-18     7  46   Auction
 4 2023-04-18     7  37   Auction
 5 2023-04-18     8  36   Auction
 6 2023-04-10     8  86   Auction
 7 2023-04-09     7  50   Auction
 8 2023-04-06     8  53   Auction
 9 2023-04-05     3  20   Auction
10 2023-04-05     2  20.5 Auction
# ... with 2,033 more rows
Summary Stats: 158.8596 61 0.99 6100 6099.01 119 2043

Data for card_name: Full Art/M Charizard EX   Holo and set: 2016 Evolutions :
# A tibble: 1,614 x 4
   Date       Grade Price `Sale Type`
   <date>     <dbl> <dbl> <chr>
 1 2023-04-19     8  27   Auction
 2 2023-04-19    10 126.  Auction
 3 2023-04-19    10 138.  Auction
 4 2023-04-10     9  38   Auction
 5 2023-04-09     9  57   Auction
 6 2023-04-05     9  51.3 Auction
 7 2023-04-05     9  50   Auction
 8 2023-04-05     9  59.6 Auction
 9 2023-04-04    10 104.  Auction
10 2023-04-02     9  68.6 Auction
# ... with 1,604 more rows
Summary Stats: 123.3572 71 6.5 1375 1368.5 113.1525 1614

Data for card_name: Full Art/Charizard GX and set: 2019 Hidden Fates :
# A tibble: 1,019 x 4
   Date       Grade Price `Sale Type`
   <date>     <dbl> <dbl> <chr>
 1 2023-04-21     9  320  Auction
 2 2023-04-20     7  208. Auction
 3 2023-04-18    10  700  Auction
 4 2023-04-10    10  758  Auction
 5 2023-04-09    10  710  Auction
 6 2023-04-07     9  385  Auction
 7 2023-04-06    10  747. Auction
 8 2023-04-04     8  325. Auction
 9 2023-04-03    10  580  Auction
10 2023-04-03     9  355  Auction
# ... with 1,009 more rows
Summary Stats: 850.1702 750 22.64 2225 2202.36 723.95 1019

Data for card_name: Full Art/Charizard Vmax Portuguese  Holo and set: 2020 Darkness Ablaze :
# A tibble: 841 x 4
   Date       Grade Price `Sale Type`
   <date>     <dbl> <dbl> <chr>
 1 2023-03-20    10  97   Auction
 2 2023-03-20    10  89   Auction
 3 2023-03-20    10  91   Auction
 4 2023-03-19    10  84.0 Auction
 5 2023-03-19    10  75.3 Auction
 6 2023-03-19    10 124.  Auction
 7 2023-03-19    10  97   Auction
 8 2023-03-19    10 122.  Auction
 9 2023-03-19    10 150.  Auction
10 2023-03-18    10 106.  Auction
# ... with 831 more rows
Summary Stats: 281.4003 275 29.26 1800 1770.74 216.5 841

Data for card_name: Full Art/Charizard Vmax Secret  Holo and set: 2020 Champions Path :
# A tibble: 823 x 4
   Date       Grade Price `Sale Type`
   <date>     <dbl> <dbl> <chr>
 1 2023-10-22    10  51   Auction
 2 2023-10-16     9  30.2 Auction
 3 2023-10-02     9  21.5 Auction
 4 2023-09-18     9  27   Auction
 5 2023-08-14     9  31.4 Auction
 6 2023-07-28    10  76.5 Auction
 7 2023-07-16     9  20.5 Auction
 8 2023-04-29     9  23   Auction
 9 2023-04-21     8  20   Auction
10 2023-03-27     8  11.5 Auction
# ... with 813 more rows
Summary Stats: 639.274 607.04 11.5 4000 3988.5 372.495 823

[1] 10

In [16]:
if (!dir.exists("output_datasets")) {
  dir.create("output_datasets")
}
#great for grouping the needed data
selected_card_names <- unique(pokemon$card_name)
pokemon_split_by_card <- split(pokemon, pokemon$card_name)
counter <-0
how_much_per_year <- 200


# Loop through each card_name subset
for (card_name in selected_card_names) {
  # Split each card_name subset by 'set'
  card_name_subset <- pokemon_split_by_card[[card_name]]
  pokemon_split_by_set <- split(card_name_subset, card_name_subset$set_name)

  # Print or process each set subset
  for (set_name1 in names(pokemon_split_by_set)) {
    set_subset <- pokemon_split_by_set[[set_name1]]
    set_subset$Date <- as.Date(set_subset$Date)    
    if (length(set_subset$set_name) / length(unique(year(set_subset$Date))) >= how_much_per_year) {
      set_subset <- set_subset[, 1:4]

      summary_stats <- c(
        mean = mean(set_subset$Price),
        median = median(set_subset$Price),
        min = min(set_subset$Price),
        max = max(set_subset$Price),
        range = max(set_subset$Price) - min(set_subset$Price),
        IQR = IQR(set_subset$Price),
        n = length(set_subset$Price)
      )
      counter <- counter +1
      filename <- paste0("output_datasets/", gsub("[^a-zA-Z0-9]", "_", card_name), "_", gsub("[^a-zA-Z0-9]", "_", set_name1), ".csv")

      # Save the dataset to a CSV file
      write.csv(set_subset, filename, row.names = FALSE)

      cat("Data for card_name:", card_name, "and set:", set_name1, " saved to ", filename, "\n")
      cat("Summary Stats:", summary_stats, "\n\n")
    }
  }
}
cat("Total datasets saved:", counter, "\n")

Data for card_name: Venusaur   Holo and set: 1999 Base Set  saved to  output_datasets/Venusaur___Holo_1999_Base_Set.csv
Summary Stats: 306.4572 157.515 4 6600 6596 252.2875 1696

Data for card_name: Charizard Reverse Foil and set: 2016 Evolutions  saved to  output_datasets/Charizard_Reverse_Foil_2016_Evolutions.csv
Summary Stats: 182.2913 102.5 1.99 3600 3598.01 149.625 1456

Data for card_name: Charizard   Holo and set: 1999 Base Set  saved to  output_datasets/Charizard___Holo_1999_Base_Set.csv
Summary Stats: 686.5845 256.5 13.99 30800 30786.01 640 3766

Data for card_name: Charizard   Holo and set: 2016 Evolutions  saved to  output_datasets/Charizard___Holo_2016_Evolutions.csv
Summary Stats: 228.0408 117.5 3.25 7500 7496.75 227.28 1869

Data for card_name: Blastoise   Holo and set: 1999 Base Set  saved to  output_datasets/Blastoise___Holo_1999_Base_Set.csv
Summary Stats: 330.8189 155.5 5.5 8500 8494.5 296 2049

Data for card_name: Machamp 1st Edition  Holo and set: 1999 Base Set  saved to  output_datasets/Machamp_1st_Edition__Holo_1999_Base_Set.csv
Summary Stats: 158.8596 61 0.99 6100 6099.01 119 2043

Data for card_name: Full Art/M Charizard EX   Holo and set: 2016 Evolutions  saved to  output_datasets/Full_Art_M_Charizard_EX___Holo_2016_Evolutions.csv
Summary Stats: 123.3572 71 6.5 1375 1368.5 113.1525 1614

Data for card_name: Full Art/Charizard GX and set: 2019 Hidden Fates  saved to  output_datasets/Full_Art_Charizard_GX_2019_Hidden_Fates.csv
Summary Stats: 850.1702 750 22.64 2225 2202.36 723.95 1019

Data for card_name: Full Art/Charizard Vmax Portuguese  Holo and set: 2020 Darkness Ablaze  saved to  output_datasets/Full_Art_Charizard_Vmax_Portuguese__Holo_2020_Darkness_Ablaze.csv
Summary Stats: 281.4003 275 29.26 1800 1770.74 216.5 841

Data for card_name: Full Art/Charizard Vmax Secret  Holo and set: 2020 Champions Path  saved to  output_datasets/Full_Art_Charizard_Vmax_Secret__Holo_2020_Champions_Path.csv
Summary Stats: 639.274 607.04 11.5 4000 3988.5 372.495 823

Total datasets saved: 10