In [1]:
#packages_installation
#install.packages("readxl")

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [130]:
#opening packages
library(readxl)
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [149]:
#loading pokemon dataset and changing the price values to numbers
pokemon <- read_excel("card_prices_data.xlsx")
pokemon$Price <- as.numeric(gsub("[^0-9.]", "", pokemon$Price))
pokemon$Grade <- as.numeric(pokemon$Grade)

In [150]:
#checking head
head(pokemon)

  Date       Grade Price Sale Type set_name                  card_name
1 2023-10-30  9    12.50 Auction   2021 Pokemon Celebrations HO-Oh
2 2023-10-30  8     8.50 Auction   2021 Pokemon Celebrations HO-Oh
3 2023-10-27  9     7.00 Auction   2021 Pokemon Celebrations HO-Oh
4 2023-10-18  9     9.70 Auction   2021 Pokemon Celebrations HO-Oh
5 2023-10-06 10    29.13 Auction   2021 Pokemon Celebrations HO-Oh
6 2023-09-22  8     9.99 Auction   2021 Pokemon Celebrations HO-Oh

In [101]:
#splits the dataset based on the name of the pokemon cards
pokemon_data_list <- split(pokemon, pokemon$card_name)

In [102]:
#list all pokemon card names
all_card_names <- unique(pokemon$card_name)
length(all_card_names)

[1] 6868

In [115]:
#accesing the specified card name from dartaset
name <- "Mew"
if (name %in% all_card_names) {
  # Access the dataset for the target card name
  first_data <- pokemon_data_list[[name]]
  cat("Data for", name, ":\n")
  print(first_data)
} else {
  cat("Dataset not found for", name, "\n")
}

Data for Mew :
# A tibble: 137 × 6
   Date       Grade Price `Sale Type` set_name                  card_name
   <chr>      <chr> <dbl> <chr>       <chr>                     <chr>
 1 2023-10-26 10    40    Auction     2021 Pokemon Celebrations Mew
 2 2023-10-15 9     12.0  Auction     2021 Pokemon Celebrations Mew
 3 2023-10-09 8      3.25 Auction     2021 Pokemon Celebrations Mew
 4 2023-10-04 9      9.99 Auction     2021 Pokemon Celebrations Mew
 5 2023-09-23 9      3    Auction     2021 Pokemon Celebrations Mew
 6 2023-09-21 9     17.2  Auction     2021 Pokemon Celebrations Mew
 7 2023-09-04 8      3.25 Auction     2021 Pokemon Celebrations Mew
 8 2023-09-04 8      6.5  Auction     2021 Pokemon Celebrations Mew
 9 2023-09-01 9     15.5  Auction     2021 Pokemon Celebrations Mew
10 2023-08-21 9     11.5  Auction     2021 Pokemon Celebrations Mew
# ℹ 127 more rows

In [109]:
#accing more specified number of card names, not used so far
how_many<- 0
for (target_card_names in all_card_names[0:how_many]) {
  # Check if the target card name exists in the list
  if (target_card_names %in% all_card_names) {
    # Access the dataset for the target card name
    target_card_data <- pokemon_data_list[[target_card_names]]
    cat("Data for", target_card_names, ":\n")
    print(target_card_data)
    cat("\n")
  } else {
    cat("Dataset not found for", target_card_names, "\n")
  }
}

In [105]:
#creates list of unique sets that the secifed target card has, splits the cards data
#according to different sets
set_split <- unique(pokemon_data_list[[name]]$set_name)
specified_set_list <- split(pokemon_data_list[[target_card_name]], pokemon_data_list[[target_card_name]]$set_name)

In [147]:

for (target_card_set in set_split) {
  # Check if the target card name exists in the list
  if (target_card_set %in% set_split) {
    # Access the dataset for the target card name
    target_card_data <- specified_set_list[[target_card_set]]
    cat("Data for", target_card_set, ":\n")
    print(target_card_data[1:4])
  } else {
    cat("Dataset not found for", target_card_name1, "\n")
  }
}

Data for 2021 Pokemon Celebrations :
# A tibble: 56 × 4
   Date       Grade Price `Sale Type`
   <chr>      <chr> <dbl> <chr>
 1 2023-10-26 10    40    Auction
 2 2023-10-15 9     12.0  Auction
 3 2023-10-09 8      3.25 Auction
 4 2023-10-04 9      9.99 Auction
 5 2023-09-23 9      3    Auction
 6 2023-09-21 9     17.2  Auction
 7 2023-09-04 8      3.25 Auction
 8 2023-09-04 8      6.5  Auction
 9 2023-09-01 9     15.5  Auction
10 2023-08-21 9     11.5  Auction
# ℹ 46 more rows
Data for 2002 Expedition Base Set :
# A tibble: 51 × 4
   Date       Grade Price `Sale Type`
   <chr>      <chr> <dbl> <chr>
 1 2023-10-30 10     74   Auction
 2 2023-10-08 9      35.3 Auction
 3 2023-09-11 10     70   Auction
 4 2023-09-04 10     82   Auction
 5 2023-08-02 8      40   Auction
 6 2023-06-27 9      41   Auction
 7 2023-05-20 10     89.2 Auction
 8 2023-05-01 8      32   Auction
 9 2023-04-30 9      30.4 Auction
10 2023-04-02 10    120.  Auction
# ℹ 41 more rows
Data for 2019 Hidden Fates :
# A tibble: 30 × 4
   Date       Grade Price `Sale Type`
   <chr>      <chr> <dbl> <chr>
 1 2023-07-16 9      9.99 Auction
 2 2023-06-25 9     12.7  Auction
 3 2023-05-21 9     14.3  Auction
 4 2023-03-20 10    22.5  Auction
 5 2023-03-17 9      6.01 Auction
 6 2023-02-26 9     28.6  Auction
 7 2022-10-28 10    41    Auction
 8 2022-10-26 10    14.5  Auction
 9 2022-09-23 9      8    Auction
10 2022-09-08 9      9.5  Auction
# ℹ 20 more rows

In [181]:
#great for grouping the needed data
selected_card_names <- unique(pokemon$card_name)
pokemon_split_by_card <- split(pokemon, pokemon$card_name)

# Loop through each card_name subset
for (card_name in selected_card_names) {
  # Split each card_name subset by 'set'
  card_name_subset <- pokemon_split_by_card[[card_name]]
  pokemon_split_by_set <- split(card_name_subset, card_name_subset$set_name)

  # Print or process each set subset
  for (set_name1 in names(pokemon_split_by_set)) {
    set_subset <- pokemon_split_by_set[[set_name1]]
    set_subset <- set_subset[ , 1:4]
    
    
    summary_stats <- c(
      mean = mean(set_subset$Price),
      median = median(set_subset$Price),
      min = min(set_subset$Price),
      max = max(set_subset$Price),
      range = max(set_subset$Price) - min(set_subset$Price),
      IQR = IQR(set_subset$Price))
      n =length(set_subset$Price)
    # Your processing code for each 'card_name' and 'set'
    cat("Data for card_name:", card_name, "and set:", set_name1, ":\n")
    cat("\n")
    print(set_subset[1, ])  # Print first 4 rows as an example
    cat("\nSummary Statistics:\n")
    print(summary_stats)
    cat("\nNumber of observations:")
    print(n)
    cat("\n")
    cat("\n")
    cat("\n")
  }
}

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [182]:
#great for grouping the needed data
selected_card_names <- unique(pokemon$card_name)
pokemon_split_by_card <- split(pokemon, pokemon$card_name)

# Loop through each card_name subset
for (card_name in selected_card_names) {
  # Split each card_name subset by 'set'
  card_name_subset <- pokemon_split_by_card[[card_name]]
  pokemon_split_by_set <- split(card_name_subset, card_name_subset$set_name)

  # Print or process each set subset
  for (set_name1 in names(pokemon_split_by_set)) {
    set_subset <- pokemon_split_by_set[[set_name1]]
    set_subset <- set_subset[ , 1:4]
    
    
    summary_stats <- c(
      mean = mean(set_subset$Price),
      median = median(set_subset$Price),
      min = min(set_subset$Price),
      max = max(set_subset$Price),
      range = max(set_subset$Price) - min(set_subset$Price),
      IQR = IQR(set_subset$Price))
      n =length(set_subset$Price)
    # Your processing code for each 'card_name' and 'set'
  }
}